
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
margin: 0;
padding: 0;

font-family: Poppins;
}
/* header */
body{
    background-color:  #1f242d;
    height: 1500px;


}
a{
color: white;
text-decoration: none;


}
nav{
    position: fixed;
    left: 0;
    right: 0;
width: 100%;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;




}
nav .logo{
    font-size: 30px;
    font-weight: 700;
    margin-left: 20px;

}
nav ul{
    display: flex;
    margin-right: 40px;
    
   
   
}
nav ul li{
    list-style: none;
margin-left:35px ;

}
nav ul li a{
font-size: 20px;
font-weight: 500;
transition: .5s;

}
nav ul li a:hover{
    color: blue;
    text-shadow: 0 0 10px blue;
}
/* header end */
.home{
display: flex;
align-items: center;
margin-left: 60px;
height: 100vh;
gap: 50px;


}
.content{
    margin-left: 250px;
    margin-top: 100px;
}


.content h1{
    font-size: 55px;

}
.content p{
font-size: 16px;
margin: 10px 0 0;
width: 400px;

}
.content .btn-content{
display: flex;
align-items: center;
}
.btn
{
border: 2px solid blue;
border-radius: 40px;
display: inline-block;
margin: 15px 0 0;

padding: 10px 30px;
font-size: 16px;
font-weight: 600;
background-color: blue;
box-shadow: 0 0  15px  blue;
cursor: pointer;
transition: .5s;



}
.btn:hover{
background: transparent;
    color: blue;
}

.content .btn-content .icons{
    margin-left: 20px;


}
.content .btn-content .icons i{

border: 2px solid blue;
border-radius:10% ;
margin:15px 0 0 8px;
font-size: 20px;
padding: 10px;
color: blue;

}
.content .btn-content .icons i:hover{

background-color: blue;
color: #1f242d;
box-shadow: 0 0 10px blue;

}
.home-img{
height: 400px;
width: 400px;
background-color: white;
border: 2px solid blue;
border-radius: 50%;
margin-left: 40px;
margin-top: 80px;
transition: .3s;
}
.home-img:hover{
background-color: blue;


}